@media screen and (min-width: 650px) {
  body {
    background-color: hsl(0, 20%, 99%);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    overflow-y: scroll;
  }
  .adjustNow{
    width: 270px;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  #net5, #in5, .h5{
    display: none;
  }
  .newStyle{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    padding: 5px 30px 5px 30px;
  }
  #bag{
    display: none;
  }

  h2 {
    color: #3d5afe;
    font-size: 25px;
  }
  #myWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
  }

  p {
    color: black;
    font-size: 14px;
  }

  button {
    background-color: #01bfa5;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40x;
    width: 115px;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
  }

  input {
    border: 1px solid black;
    height: 20px;
    font-size: 14px;
    width: 130px;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  #moveE{
    text-align: right;
  }

  #input,
  #input2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .date {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
  }

  #save1,
  #save2 {
    width: 280px;
    font-size: 17px;
    font-weight: bold;
    float: center;
    height: 40px;
    background-color: #3d5afe;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #save1:active,
  #save2:active {
    width: 310px;
    font-size: 19px;
    font-weight: bold;
    float: center;
    height: 40px;
    background-color: #3d5afe;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .shift {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  select {
    width: 70px;
    height: 25px;
    font-size: 15px;
    border-radius: 3px;
  }

  #icon {
    font-size: 40px;
    margin-top: -30px;
  }

  #navs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .buts {
    width: 135px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 2px;
    background-color: gray;
  }

  .buts:active {
    margin-bottom: -7px;
  }

  #earning,
  #spending {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
    width: 500px;
    margin: 5px 5px 25px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  }

  header {
    display: flex;
    align-items: center;
    margin: -10px -10px 0 -10px;
    justify-content: space-around;
    background-color: #020202;
    height: 100px;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: black;
  }
  

  #menu {
    display:none;
    font-size: 35px;
  }

  .info {
    border: 1px solid gray;
    margin-bottom: 10px;
    margin-bottom: 15px;
    padding: 5px 5px 5px 15px;
    border: 2px solid gray;
    border-radius: 8px;
    font-size: 55px;
    font-weight: bold;
  }
  .newsign{
    width:70%;
  }
  .menunav{
     color: white;
     font-size: 0.6rem;
  }
  .total {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  

  .conclusion {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
    width: 550px;
    margin: 25px 5px 95px 55px;
    display: inline;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
  }

  footer {
    background-color: #050505;
    color: white;
    font-size: 9px;
    height: 45px;
    padding: 10px 20px 10px 20px;
    margin: 0 -10px -10px -10px;
    text-align: center;
  }

  #icon:active {
    color: blue;
    font-size: 50px;
  }

  #list {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    font-size: 9px;
    align-items: center;
    z-index: 9999;
  }
   #lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    font-size: 9px;
    margin-top: 75px;
    align-items: center;
    z-index: 9999;
  }

  #lists p {
    color: white;
    margin: 5px 5px 33px 5px;
    font-size: 0.7rem;
    font-weight: bold;
  }
  #lists a{
      color: rgb(238, 223, 12);
  }


  #menu:active {
    color: blue;
    margin-top: -10px;
  }

  .del:active {
    color: blue;
  }

  .menunav:active {
    color: lime;
  }

  #innav:active {
    color: lime;
  }

  #exnav:active {
    color: lime;
  }

  #calnav:active {
    color: lime;
  }

  #refnav:active {
    color: lime;
  }
  #tincome{
    width: 200px;
    padding: 2px;
  }
  #texpenses{
    width: 200px;
    padding: 2px;
  }

  #netexnav:active {
    color: lime;
  }

  #netnav:active {
    color: lime;
  }

  .adjust {
    border: 5px solid #3d5afe;
    height: 19px;
    font-size: 19px;
    padding: 10px 30px 10px 40px;
    font-weight: bold;
  }

  .green {
    border: 1.5px solid green;
  }

  .red {
    border: 1px solid red;
  }
  button:hover{
    background-color: #45a049;
  }

  #calculator {
    display: inline;
    height: 350px;
    width: 600px;
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    margin: 35px 5px 50px 10%;
    background-color: #ccc;
  }
  

  #display {
    width: 92%;
    height:8%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid gray;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-left: 100px;

  }

  .btn {

    padding: 2px;
    font-size: 30px;
    border: 0.2px solid gray;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
    background-color: #01bfa5;
    color: white;
    transition: background-color 0.3s;
    margin-left: 5px;
    width: 65px;
    height: 75px;
    margin-bottom: 8px;
    gap: 10px;
  }

  button:active {
    background-color: #45a049;
  }


  @keyframes shake {
      0% { transform: translateX(0); }
      25% { transform: translateX(-5px); }
      50% { transform: translateX(5px); }
      75% { transform: translateX(-5px); }
      100% { transform: translateX(0); }
  }
  .mia{
    margin: 20px 5px 5px 0;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  #icon {
    display: inline-block;
    animation: shake 0.5s ease-in-out infinite;
  }
  #one{
    margin: 0;
    padding: 0;
  }
  #head{
    margin: 0 0 0 -55px;
    padding: 0;
    color: whitesmoke;
  }

    .content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1; 
      padding: 5px 5px 5px 0;
      border-style: solid;
      border-color: black;
      border-width: 0 5px 5px 5px;
      margin-bottom: 25px;
      width: 100%;
      
    }
   #bag:active{
     width: 360px;
     height: 300px;
     margin-top: -10px;
   }

   #one:active{
     margin-top: -10px;
   }
  a{
    text-decoration: none;
    color: white;
  }
  #innav{
    color: white;
    font-size: 0.7rem;
  }
}






/* CROSSING ❌❌❌❌❌*/



/* PHONE RESPONSIVENESS BELOW */



@media screen and (max-width: 649px) {
  body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    overflow-y: scroll;
  }
  .mia{
    margin-bottom: 50px; 
    padding: 0 5px 0 5px;
    text-align: center;
    line-height: 1.3;
    text-align: center;
    font-size: 0.8rem;
  
    padding: 7px;
    font-family: monospace;
  }

  h2 {
    color: #3d5afe;
    font-size: 25px;
    font-weight: bold;
  }
  #lists{
      display:none;
  }

  p {
    color: black;
    font-size: 15px;
  }

  button {
    background-color: #01bfa5;
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 115px;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
  }

  input {
    border: 1px solid black;
    height: 15px;
    font-size: 14px;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  #input,
  #input2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .date {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
  }

  #save1,
  #save2 {
    width: 280px;
    font-size: 17px;
    font-weight: bold;
    float: center;
    height: 40px;
    background-color: #3d5afe;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #save1:active,
  #save2:active {
    width: 310px;
    font-size: 19px;
    font-weight: bold;
    float: center;
    height: 40px;
    background-color: #3d5afe;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .shift {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  select {
    width: 70px;
    height: 25px;
    font-size: 15px;
    border-radius: 3px;
  }

  #icon {
    font-size: 40px;
    margin-top: -30px;
  }

  #navs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 65px;
  }

  .buts {
    width: 140px;
    height: 45px;
    font-size: 14px;
    color: white;
    padding: 7px;
  }

  .buts:active {
    margin-bottom: -7px;
  }

  #earning,
  #spending {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
    margin: 5px 5px 25px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  }

  header {
    display: flex;
    align-items: center;
    margin: -10px -10px 0 -10px;
    justify-content: space-around;
    background-color: #000000;
    height: 90px;
    padding: 5px;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: black;
  }

  #menu {
    font-size: 17px;
    color: white;
  }

  .info {
    margin-bottom: 15px;
    padding: 5px 5px 5px 15px;
    border: 2px solid gray;
    border-radius: 8px;
    font-size: 55px;
    font-weight: bold;
  }

  .total {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .conclusion {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    margin: 5px 5px 65px 5px;
    display: inline;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
  }

  footer {
    background-color: #000000;
    color: white;
    font-size: 9px;
    height: 50px;
    padding: 10px 20px 5px 20px;
    margin: 0 -10px -10px -10px;
    text-align: center;
  }
  footer p{
    font-size: 0.8rem;
  }
  #icon:active {
    color: blue;
    font-size: 50px;
  }

  #list {
    position: fixed;
    display: none;
    left: 30%;
    top: 13%;
    background-color: #3d5afe;
    border-radius: 10px;
    border: 2px solid #01bfa5;
    padding: 33px 40px 10px 75px;
    height: 385px;
    width: 240px;
    z-index: 9999;
  }

  #list p {
    color: white;
    margin: 5px 5px 33px 5px;
    font-size: 19px;
    font-weight: bold;
  }

  #menu:active {
    color: blue;
    margin-top: -10px;
  }

  .del:active {
    color: blue;
  }

  .menunav:active {
    color: lime;
  }

  #innav:active {
    color: lime;
  }
  .newsign{
    width:100%;
  }
  #exnav:active {
    color: lime;
  }
  .net6{
    display: none;
  }

  #calnav:active {
    color: lime;
  }

  #refnav:active {
    color: lime;
  }

  #netexnav:active {
    color: lime;
  }

  #netnav:active {
    color: lime;
  }

  .adjust {
    border: 5px solid #3d5afe;
    height: 19px;
    font-size: 19px;
    padding: 10px 30px 10px 40px;
    font-weight: bold;
  }

  .green {
    border: 1.5px solid green;
  }

  .red {
    border: 1px solid red;
  }
  .adjustNow{
    width: 72%;
    display: flex;
    padding: 0;
    margin-top: 0;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  #calculator {
    display: inline;
    height: 550px;
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    margin: 0 5px 80px 5px;
    background-color: #ccc;
  }

  #display {
    width: 92%;
    height:8%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid gray;
  }
  #one{
    margin-top: 22px;
    margin-left: -45px;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-left: 100px;

  }

  .btn {

    padding: 2px;
    font-size: 30px;
    border: 0.2px solid gray;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
    background-color: #01bfa5;
    color: white;
    transition: background-color 0.3s;
    margin-left: 5px;
    width: 65px;
    height: 75px;
    margin-bottom: 8px;
    gap: 10px;
  }

  button:active {
    background-color: #45a049;
  }
  #sads{
    display: none;
  }
  #haps{
    display: none;
  }


  @keyframes shake {
      0% { transform: translateX(0); }
      25% { transform: translateX(-5px); }
      50% { transform: translateX(5px); }
      75% { transform: translateX(-5px); }
      100% { transform: translateX(0); }
  }

  #icon {
    display: inline-block;
    animation: shake 0.5s ease-in-out infinite;
  }
  h1{
    color: #ffffff;
    margin-top: 25px;
    margin-left: -100px;
  }
  .background {
        background-color: #e0e3ff; 
        position: absolute;
        top: 25%;
        left: 70px;
        width: 50px;
        height: 70px;
        border-radius: 60%;
        z-index: -1; 
      }
   .background2 {
        background-color: #e0e3ff; 
        position: absolute;
        top: 37%;
        left: 114px;
        width: 25px;
        height: 45px;
        border-radius: 60%;
        z-index: -1; 
      }   
  .background1 {
      background-color: #e0e3ff; 
      position: absolute;
      top: 39%;
      left: 260px;
      width: 50px;
      height: 70px;
      border-radius: 60%;
      z-index: -1; 
    }

    .content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1; 
      border-radius: 10px;
      padding: 7px;
      height: 205px;
      margin: 15px;
      border: 4px solid #3d5afe;
    }
   #bag:active{
     width: 360px;
     height: 300px;
     margin-top: -10px;
   }

   #one:active{
     margin-top: -10px;
   }
  a{
    text-decoration: none;
    color: white;
  }
  
}